* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header navbar */

.navbar {
  width: 100%;
  background-color: #396353;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.navbar a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

/* sub header navbar */

.subnavbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subnavbar .image img {
  width: 200px;
}

.subnavbar .input input {
  width: 400px;
  height: 50px;
  padding: 20px;
  border: none;
  border: 1px solid #396353;
}

.subnavbar .input i {
  background-color: #396353;
  padding: 16px;
  margin-top: 25px;
  color: #fff;
}

.subnavbar .input i:hover {
  background-color: #96f39c;
}

.subnavbar .icon i {
  font-size: 15px;
  border: 0.5px solid rgb(206, 199, 199);
  padding: 10px;
  border-radius: 2px;
}

.subnavbar .icon i:hover {
  background-color: #396353;
  color: #fff;
}

/* third navbar section */

.third-navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(236, 241, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-navbar a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.third-navbar a:hover {
  background-color: #396353;
  color: #fff;
}

/* in the large size */

.third-navbar {
  width: 100%;
  height: 60px;
}

.third-navbar .input input {
  width: 300px;
  height: 50px;
  padding: 20px;
  border: none;
  border: 1px solid #396353;
  background-color: #fff;
}

.third-navbar .input i {
  background-color: #396353;
  padding: 16px;
  margin-top: 25px;
  color: #fff;
}

.third-navbar .button button {
  color: #fff;
  background-color: #396353;
  padding: 10px;
  border: none;
}

.third-navbar .button button:hover {
  background-color: #96f39c;
  color: black;
}

/* slider main section */

.slider-section {
  width: 100%;
  display: flex;
  margin: 40px 40px 0 40px;
  height: 80vh;
}

/* slider main section left section  */

.slider1 {
  display: flex;
  padding: 10px;
}

.slider1 .left-side {
  margin-left: 10px;
  width: 44%;
}

.slider1 .left-side h1 {
  margin-top: 80px;
  color: black;
}

.slider1 .left-side p {
  margin-top: 22px;
}

.slider1 .left-side button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.slider1 .right-side {
  display: flex;
  width: 50%;
}

.slider1 .right-side img {
  width: 200px;
  height: 210px;
}

/* slider main section right section  */

.slider-section .right-section .cart {
  display: flex;
}

.slider-section .right-section .cart1 {
  background-color: rgb(224, 237, 241);
  padding: 20px;
  width: 410px;
  height: 190px;
  margin-left: 0;
  margin-bottom: 20px;
}

.slider-section .right-section .cart1 h1 {
  font-size: 20px;
  color: black;
}

.slider-section .right-section .cart2 {
  background-color: rgb(207, 235, 207);
  padding: 20px;
  width: 410px;
}

.slider-section .right-section .cart img {
  width: 180px;
}

.slider-section .right-section .cart1 img {
  width: 150px;
  margin-left: 90px;
  margin-top: 30px;
  rotate: -20deg;
}

.slider-section .right-section .cart1 p {
  color: gray;
}

.slider-section .right-section .cart2 {
  height: auto;
}

.slider-section .right-section .cart2 img {
  width: 140px;
  margin-left: 20px;
}

.slider-section .right-section .cart2 .right h1 {
  font-size: 23px;
  color: #396353;
}

.slider-section .right-section .cart2 .right p {
  font-size: 16px;
}

.slider-section .right-section .cart2 .right {
  margin-left: auto;
  text-align: right;
}

/* cart section */

.cart-section {
  width: 100%;
  margin-bottom: 100px;
}

.cart-section .card {
  height: 450px;
}

.cart-section .card img {
  padding: 10px;
  border-radius: 5px;
}

.cart-section .card a {
  color: black;
}

.cart-section .card .card-price {
  color: #396353;
  font-weight: bold;
}

.cart-section .card .card-view {
  color: #396353;
}

/* <!-- Shop Styles --> */

.shopstyle-section{
  width: 100%;
  height: 500px;
  display: flex;
}
.shopstyle-section .right-side{
  background-color: rgb(199, 226, 235);
}
.shopstyle-section img{
  width: 300px;
}

/* Bonanza seller section  */

.bonanza-seller {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #96f39c;
  text-align: center;
}

.bonanza-seller .section {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #fff;
  padding: 30px;
}

.bonanza-seller .section p {
  margin-top: 20px;
}

.bonanza-seller .section p a {
  color: black;
}

.bonanza-seller .section button {
  width: 100px;
  height: 40px;
  border: none;
  margin-top: 20px;
  background-color: #396353;
  color: #fff;
}

/*sub footer section */
.sub-footer {
  width: 100%;
  height: 350px;
  background-color: #06283f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.sub-footer input {
  width: 300px;
  height: 50px;
  padding-left: 20px;
  border: none;
  color: #fff;
}

.sub-footer button {
  height: 50px;
  color: #396353;
  padding: 5px;
  border: none;
  transition: all 200ms ease-in-out;
}

.sub-footer button:hover {
  background-color: #96f39c;
}

/* footer section */

footer {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
}

footer .image img {
  width: 250px;
}

footer .line {
  height: 50px;
  width: 100%;
  background-color: #396353;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .last-text {
  margin-top: 10px;
}

footer .icons a i {
  font-size: 40px;
  color: #396353;
  margin-left: 5px;
}

footer .icons {
  margin: 10px 0 0 30px;
}


/* media quiry for resposive */

@media(max-width:1280px) {
  .slider-section {
    margin-top: 0px;
  }
}

@media(max-width:991px) {
  .slider-section {
    display: flex;
    flex-direction: column;
  }

  .cart-section .card {
    margin-top: 20px;
  }

  .slider-section .right-section {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart-section {
    margin-top: 400px;
  }

  footer .sections {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  footer .sections {
    text-align: center;
  }

  footer .sections h2 {
    margin-top: 10px;
  }

  .sub-footer {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  .sub-footer button {
    margin-top: 10px;
  }
}